.c4-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
}

.c4-list_item {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.c4-list_item img {
    width: 7rem;
    height: 7rem;
}

.c4-list_item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    color: #fff;
}

.c4-bottom_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    color: #fff;
}