.c6-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.7rem;
    margin-bottom: 5rem;
}

.c6-item {
    display: flex;
    gap: 0.5rem;
}

.c6-item img {
    width: 4.3rem;
    height: 4.3rem;
}

.c6-item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    color: #fff;
    margin-top: 0.7rem;
}

.c6-inv {
    width: 34.1rem;
    height: 19rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #5202b7, #8148cb, #5202b7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.c6-inv-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 138%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffeeb4;
    margin-bottom: 1rem;
}

.c6-inv-text1 {
    font-weight: 400;
    line-height: 192%;
    color: #fff;
    font-family: var(--font-family);
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 2rem;
}

.c6-inv-text2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fff;
}