.FAQ .title {
    margin-bottom: 5rem;
}

.FAQ .accordion-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}

.FAQ .accordion-item {
    transition: max-height 0.4s ease-out;
    padding: 2.8rem 0 2.8rem 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -600%, rgba(28, 28, 28, 0.7) 90%);
}

.FAQ .accordion-header {
    position: relative;
    border-radius: 10px;
}

.FAQ .accordion-header:before {
    content: '';
    display: inline-block;
    right: 3rem;
    top: 0.5rem;
    width: 1.6rem;
    height: 0.9rem;
    position: absolute;
    background-image: url(../../images/accordeon-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}

.FAQ .accordion-header p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.FAQ .active .accordion-header:before {
    transform: rotate(0deg);
}

.FAQ .active .accordion-content {
    max-height: 50rem;
}

.FAQ .accordion-content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
}

.FAQ .accordion-content p {
    padding-top: 1.3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    color: #fff;
}