.slider .title {
    margin-bottom: 5rem;
}

.slider img {
    width: 100%;
    border-radius: 0.5rem;
}

.receipts-slider .slick-next,
.receipts-slider .slick-prev {
    display: none;
    z-index: 2;
    right: -1.9rem;
    background-image: url(../../images/slider-arrow.png)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    width: 6.5rem!important;
    height: 6.5rem!important;
    top: 50%;
    transform: translateY(-50%);
}

.receipts-slider .slick-prev {
    left: -1.9rem;
    right: auto;
    transform: translateY(-50%) rotate(180deg)!important;
}

.receipts-slider .slick-next:before,
.receipts-slider .slick-prev:before {
    display: none!important;
}